/* body {
    color:red;
  } */

  /* .navbar-gold {
    /* padding 1rem; */
    /* background-color: gold;
  } */ */


  /* .btn-primary:hover {
    background-color: goldenrod;
    color: white;
  } */

  .jumbotron-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
    